* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    padding-top: 50px;
    background: url('https://images.unsplash.com/photo-1520384324152-667315403adc?ixlib=rb-0.3.5&s=bea17a40ed874996b08aeb4d0209554f&auto=format&fit=crop&w=1920&q=100') no-repeat 0/cover;
    height: 100vh;
    width: 100vw;
    font-weight: bold;

}
.form-label {
  font-size: 20px;
}
.btn-warning {
  outline: none;
  color: #000;
}
.searches-container {
  margin-top: 60px;
}
.searches-container h3 {
  font-weight: bold;
}
.searches {
  font-size: 20px
}
table thead th {
  font-size: 20px;
}
table tbody td {
  font-size: 18px;
}
