* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  position: relative;
    padding-top: 50px;
    background: url('https://images.unsplash.com/photo-1520384324152-667315403adc?ixlib=rb-0.3.5&s=bea17a40ed874996b08aeb4d0209554f&auto=format&fit=crop&w=1920&q=100') no-repeat 0/cover;
    height: 100vh;

}
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100vh;
}

.form-label {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
}
.form-control {
  outline: none;
  border: none;
}
.form-control:focus {
  outline: none;
}
.btn-warning,
.btn:focus,
.btn:active {
  margin-top: 5px;
  outline: none;
  border: none;
  color: #000;
}
.form {
  margin-right: 60px;
  margin-bottom: 60px;
}
.searches-container {
  margin-top: 60px;
  height: 65px;
  margin-bottom: 10px;
}
.searches-container h3 {
  font-weight: bold;

}
.searches {
  font-size: 20px;
  font-weight: bold;
}
.history {
  font-size: 20px;
  color: #ccc;
}
.data-container {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 363px;

}
table thead th {
  font-size: 20px;
  color: #fff;
}
table tbody td {
  font-size: 18px;
  color: #fff;
}
